{layout 'layout.latte'}
{block title}About{/block}

{block content}
<ul>
    <li>By default the layout includes <a href="https://htmx.org" target="_blank">HTMX</a> for some super powers</li>
    <li>It also uses <a href="https://picocss.com" target="_blank">Pico.css</a> for CSS</li>
    <li>Edit <code>/views/layout.latte</code> to remove what you don't need</li>
</ul>
{/block}
