{layout 'layout.latte'}
{block title}Welcome to GustavPHP{/block}

{block content}
<div class="row">
    <div class="col">
        <h1>About</h1>
    </div>
</div>
<div class="row">
    <div class="col">This file is located under <code>/views/about.latte</code></div>
</div>
{/block}
